.large-text-link,
.button-small-eval,
.text-silent,
.fancy-text-field,
.button-small,
.card-detail-text,
.submit-button,
.eval-low-label,
.appointment-card-text,
.regular-text {
    -fx-font-size: 16px;
}

.text-link,
.date-picker {
    -fx-font-size: 14px;
}

.card-date-header,
.evaluation-sub-header,
.allergy-checkbox,
.allergy-header {
    -fx-font-size: 18px;
}

.status-badge {
    -fx-font-size: 12px;
}

.help-button {
    -fx-font-size: 19px;
}

